.navigation{
  @extend %cover;
  position: fixed;
  pointer-events: none;
  z-index: z('navigation');
}
.navigation__wrapper{
  overflow: hidden;

}
.navigation__link{
  font-size: 0;
  height: 2.5rem;
  margin: 0 auto;
  position: fixed;
  pointer-events: auto;
  top: 3rem;
  width: 4rem;
  left: 50%;
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.5;
  }

  @include media('<phone') {
    height: 5rem;
    width: 5rem;
    left: 4rem;
  }
}


.navigation__link__icon{
  display: block;
}

.navigation__list{

}


.navigation__list__item{
  position: fixed;
  right: 4rem;
  top: 4rem;
}
.navigation__list__link{
  @extend %title-heavy;
  color: $color-pink;
  background: $color-red;
  padding: .7rem 1.5rem;
  border-radius: 3rem;
  justify-content: center;
  pointer-events: auto;
  cursor: pointer;
  display: block;
  &:hover {
    padding: .8rem 1.6rem;
  }
}
