.detail{
  //@extend %center;
//  @extend %cover;
  background: $color-paper;

}
.detail__wrapper{
  // @extend %cover;
  // position: relative;

}
.detail__media{

}
.detail__media__image{
  width: 100%;
  height: 100%;
}

.detail__information{
  position: relative;
}

//little title on page
.detail__information__myth{
  @extend %title-heavy;
  //@extend %cover;
  position: fixed;
  //margin-bottom: 10rem;
  //margin-top: auto;
  top: 100px;
//  margin-left: 100px;
  text-align: border-bottom;
  transform: rotate(-90deg);
  color: $color-grey
}

//this shows title- if same as myth title it will appear double(most likeley!)
.detail__information__title{
  @extend %title-200;
  position: absolute;
  max-width: 100rem;
  text-align: right;
  padding-left: 20rem;
  padding-top: 4rem;
//  transform: rotate(-90deg);

}



.detail__information__content{
  margin-left: 50%;
  padding-top: 3rem;
}
.detail__information__highlights{
  margin-top: 4rem;

}

.detail__information__highlight{
  align-items: center;
  display: flex;

  &:not(:first-child) {
    margin-top:4rem;
  }
}
.detail__information__highlight__icon{
  border: 1px solid #ff0000;
  border-radius: 50%;
  margin-right: 4rem;
  margin-left: 1.5rem;
  height: 4rem;
  width: 4rem;
}

.detail__information__highlight__text{

}

.detail__information__list{
  margin-top: 5rem;
}

.detail__information__item{

  display: flex;

  &:not(:first-child) {
    margin-top:4rem;
  }
}
.detail__information__item__title{
  @extend %description-12-bold-slanted;
  width: 10rem;
  padding-right: 4rem;
}
.detail__information__item__description{
  max-width: 44rem;
  border-bottom: 1px solid currentColor;
  padding-bottom: 4rem;
}
.line{
  width: 112px;
  height: 47px;
  border-bottom: 1px solid currentColor;
  position: absolute;

}

.detail__information__link{
  @extend %description-12-bold-slanted;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 10rem;
}
