.detail{
  //@extend %center;
  @extend %page;
  background: $color-paper;
  // top: 0;
  // height: 100%;
  // width: 100%;
  // left: 0;
}
.detail__wrapper{
  @extend %center;
//  position: relative;
  width: 100%;
  overflow: hidden;
  display:block;
}
.detail__media{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.detail__media__image{
  width: 100%;
  height: 100%;
}

.detail__information{
//  position: relative;

}

//little title on page
.detail__information__myth{
  @extend %title-heavy;
  //@extend %cover;
  position: fixed;
  //margin-bottom: 10rem;
  //margin-top: auto;
  top: 100px;
//  margin-left: 100px;
  text-align: border-bottom;
  transform: rotate(-90deg);
  color: $color-grey
}

//this shows title- if same as myth title it will appear double(most likeley!)
.detail__information__title{
  @extend %title-200;
  position: absolute;
  width: 50%;
  text-align: right;
  padding-right: 10rem;
  padding-top: 4rem;
//  transform: rotate(-90deg);

}



.detail__information__content{
  margin-left: 50%;
  padding-top: 3rem;
}
.detail__information__highlights{
  margin-top: 4rem;

}

.detail__information__highlight{
  align-items: center;
  display: flex;

  &:not(:first-child) {
    margin-top:4rem;
  }
}
.detail__information__highlight__icon{
  border: 1px solid #ff0000;
  border-radius: 50%;
  margin-right: 4rem;
  margin-left: 1.5rem;
  height: 4rem;
  width: 4rem;
}

.detail__information__highlight__text{

}

.detail__information__list{
  margin-top: 5rem;
}

.detail__information__item{

  display: flex;

  &:not(:first-child) {
    margin-top:4rem;
  }
}
.detail__information__item__title{
  @extend %description-12-bold-slanted;
  width: 10rem;
  padding-right: 4rem;
}
.detail__information__item__description{
  max-width: 44rem;
  border-bottom: 1px solid currentColor;
  padding-bottom: 4rem;
}
.line{
  width: 112px;
  height: 47px;
  border-bottom: 1px solid currentColor;
  position: absolute;

}

.detail__information__link{
  @extend %description-12-bold-slanted;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 25rem;
}

.detail__button{
  //@extend %cover;
  position: absolute;
  @extend %description-16-bold;
//  display: flex;
//  align-items: center;
//  align-content: center;
//  bottom: 5rem;
  //display: flex;
  left: 50%;
//  width: auto;
  //justify-content: center;
  padding: 1rem;
//  position: relative;
//  margin: 5rem;
//  transform: translateX(-50%);
//  width: 12rem;
  z-index: 10;
  margin-top: 18rem;
}

.detail__button__icon{
  position: absolute;
  //width: 25rem;
  // bottom: 2rem;
  // left:50%;
  // top:0;
  width: 10rem;
  height: 10rem;
  transform: translateY(-40%) translateX(-80%);
  // @extend %cover;
  // z-index: 9;
}
