.about{
//   @extend %cover;
// //  @extend %center;
//   overflow: hidden;
  background: $color-paper;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;

  scrollbar-width: none;
  -ms-overflow-style:none;
}

::-webkit-scrollbar {
  display: none;
}

.about__wrapper{
  // overflow-x: scroll;
  // overflow-y: hidden;
//  height: 100%;
  width: 5000px;
  display:flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
//  float: left;
//  vertical-align: top;
}
.about__titles{
  @extend %title-full;
  //@extend %cover;
  white-space:nowrap;
  position: absolute;
  color: $color-emboss;
  z-index: -10;
  line-height: .6;
  opacity: .8;
  top: 0;
}

.about__title__wrapper{
  position: absolute;
  bottom: 2rem;
  text-align: left;
  left: 4rem;
  display: flex;

  white-space: nowrap;
//  transform: rotate(-90deg);

}
.about__title__label{
  @extend %description-12-bold;
  @extend %center;
  position: absolute;

}


.about__title__question{
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  @extend %title-200;
  transform: translateX(-50%) rotate(-90deg);
}

.home__button{
  @extend %description-16-bold;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
//  bottom: 5rem;
  margin-left: 20rem;
  top: 50%;
  letter-spacing: 0.05rem;
  transform: translateX(-50%);
}
