.about__content{
  display: flex;
  margin-left: 25rem;
}
.about__content__wrapper{
  bottom: 35%;

}
.about__content__label{
  margin-top:50rem;
  @extend %title-200;
}

.about__content__description_how{
  @extend %description-16;
  line-height: 1.2;
  height: 30rem;
  margin-top: 8rem;
  width: 45rem;

  text-align: left;
//  justify-content: center;
}

.about__content__media{

}
.about__content__media__image{
  position: absolute;
  align-items: baseline;
  margin-left: 10%;

  flex-direction: column;
  z-index: -1;

  &:first-child {
    top: 50rem;
  }

  &:not(:first-child) {
    top: 50rem;
  }


}
