
.about__gallery{
  @extend %center;
  height: 100vh;
}
.about__gallery__wrapper{
  display: grid;
  grid-template-columns: 40rem 40rem 40rem 40rem;
  grid-template-rows: 30rem 30rem 30rem;
  justify-content: center;
  object-fit: contain;
//  margin-right: 15rem;
}

.about__gallery__media{
  @extend %center;
  top: 50%;
  left: 50%;
}
.about__gallery__media__image{

}
