.about__highlight{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

}
.about__highlight__wrapper{
  width: 122rem;
}

.about__highlight__label{

}

.about__highlight__highlight{
  @extend %title-200;


}
