%description-10 {
  font-family: $font-object-sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

%description-12 {
  font-family: $font-object-sans;
  font-size: 1.2rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.5;
}

%description-12-slanted {
  font-family: $font-object-sans;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: normal;
}

%description-12-bold {
  font-family: $font-object-sans;
  font-size: 1.2rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
}

%description-12-bold-slanted {
  font-family: $font-object-sans;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
}

%description-16 {
  font-family: $font-object-sans;
  font-size: 1.6rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

%description-16-bold {
  font-family: $font-object-sans;
  font-size: 1.6rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
}

%description-16-bold-slanted {
  font-family: $font-object-sans;
  font-size: 1.6rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
}
