%title-35 {
  font-family: $font-voyage;
  font-size: 3.5rem;
  font-weight: normal;
}

%title-60 {
  font-family: $font-voyage;
  font-size: 6rem;
  font-weight: normal;
}

%title-100 {
  font-family: $font-voyage;
  font-size: 10rem;
  font-weight: normal;
}

%title-200 {
  font-family: $font-voyage;
  font-size: 20rem;
  font-weight: normal;
  line-height: 0.8;
}

%title-600 {
  font-family: $font-voyage;
  font-size: 60rem;
  font-weight: normal;
}

%title-heavy {
  font-family: $font-object-sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
