.home{
  @extend %page;

  overflow: hidden;
  text-align: center;
}
.home__wrapper{
  @extend %cover;

  // &:before,
  // &:after {
  // content: '';
  // height: 35rem;
  // left: 0;
  // position: absolute;
  // width: 100%;
  // z-index: 1;
  // }
}
.home__gallery{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}
.home__gallery__media{
}
.home__gallery__media__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.home__button{
  @extend %description-16-bold;
  // align-items: center;
  bottom: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  // display: flex;
  // margin-left: 0;
  // padding: 1rem;
  // left: 50%;
  // letter-spacing: 0.05rem;
  // //position: absolute;
  // transform: translateX(-50%);

  // justify-content: center;
  // margin-bottom: 15rem;

  .home__button__icon{
    display: block;
    bottom: -2.5rem;
    width: 27rem;
    position: absolute;
    margin-left: -6rem;
  }
}
